<br>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<br>
		<h2 class="text-center"><%= "Hola #{current_user.name}"%></h2>
		<br>
		<p>Éste es tu perfil donde encontrarás tu API Token, con el cual podrás acceder a la API de Codea para poder enviar las propuestas creadas en tu aplicación para que se junten con la de todas las demás personas. </p>
		<br>
		<p><strong>API Token: </strong><%= current_user.api_token %></p>
	</div>
</div>
