
<% if @users.empty? %>
	$('#search_results').html("<h4 class='text-center'>No se encontro Nada!</h4><br><img class='center-block'src='https://s14.postimg.org/b58ap0koh/cryingcomputer.gif'>");
<% else %>
	$('#search_results').html("<%= j render('users', users: @users) %>");
<% end %>


