<div id="first_section">
  <div class="container">
    <div class="jumbotron well">
      <h1 class="text-center">Propuestas para TagCDMX</h1>
    </div>
  </div><!-- container -->
</div>
<div  class="row col-md-10 col-md-offset-1">
  <div id="search_results" class="row">
    <% if @proposals.any? %>
      <% @proposals.each do |proposal| %>
        <div class="search_thumbnails col-sm-6 col-md-3">
          <div class="search_img">
            <%= image_tag("#{proposal.avatar}", size: "48x48") %>
          </div>
          <div class="search_caption">
            <h5><%= "#{proposal.name}  (#{proposal.counter})" %></h5>
          </div>
          <div class="search_btn">
            <%= link_to "E", edit_proposal_path(proposal), class: "btn btn-default btn-xs" %>
            <%= link_to "X", proposal_path(proposal),
            method: :delete,
            data: { confirm: "¿Seguro que quieres eliminar la propuesta?" }, class: "btn btn-default btn-xs" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No has agregado propuestas aún</p>
    <% end  %>
</div>
























