<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("tag_logo.png", alt: "tag", :height => 40) , root_path, class: "logo", id: "logo_tag" %>
    <%= link_to image_tag("codeacamp_logo.png", alt: "Codea", :height => 40) , root_path, class: "logo", id: "logo_codea" %>
    <nav>
      
    </nav>
  </div>
</header>